body{
	margin: 0px;
	padding: 0px;
	width: 1520px;
	height: 700px;
	box-sizing: border-box;/*
	margin: 10vh 20vw 10vh 20vw;*/
}

.middle{
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.back{
	width: 100%;
	height: 700px;
	background-color: black;
	padding-top: 20px;
}

.heading{
	width: 100%;
	height: 60px;
	margin-top: 20px;
}

#head{
	width: 60%;
	font-size: 30px;
    font-weight: 700;
    background-color: white; 
    text-align: center;
    padding: 20px 5px 20px 5px;   
    border-radius: 30px;
    text-transform: uppercase;
}

.main{
	width: 100%;
	height:auto;
	padding:  10px 20px 10px 20px;
	margin-top: 40px;
}

.but{
	width: 40%;
	height: 500px;
	margin-top: 10px;
}

.box {
	background: #dec804;
	color: black;
	--width: 450px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	font-weight: bold;
	letter-spacing: 1px;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.box:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.box:hover::before {
	left: 100%;
}


.clock{
	width: 60%;
    background-color: whitesmoke;
    height: 500px;
    border-radius: 80px;
    position: relative;
    border: 5px solid #dec804;
}

#clocks{
      width: 400px;
    position: absolute;
    top: 50px;
    left: 230px;
}

#sec{
	position: absolute;
    left: 417px;
    bottom: 249px;
    width: 28px;
    height: 140px;
    transform: rotate(0deg);
    transform-origin: bottom center;
}

#minu{
	position: absolute;
    left: 417px;
    bottom: 249px;
    width: 28px;
    height: 130px;
    transform: rotate(0deg);
    transform-origin: bottom center;
}

#hour{
	position: absolute;
    left: 417px;
    bottom: 249px;
    width: 28px;
    height: 158px;
    transform: rotate(0deg);
    transform-origin: bottom center; 

}